.custom-card {
    border: 1px solid #ddd; /* Border style */
    border-radius: 10px; /* Border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    margin-top: 50px; /* Adjust margin as needed */
  }