<div class="container">
    <h1 style="text-align: center;">Why Choose <b><span style="color: #4a90e2;">Aftermarket Products?</span></b></h1>
    <br>
    <div class="card-deck">
      <div class="card custom-card">
        <img src="https://svgsilh.com/svg/2128601.svg" width="80px" height="150px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #4a90e2;"><b>Original Products</b></h5>
          <p class="card-text">Only reliable parts from trusted Aftermarket brands</p>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">WheelWizard</small>
        </div>
      </div>
      <div class="card custom-card">
        <img src="https://svgsilh.com/svg/97849.svg" width="80px" height="150px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #4a90e2;"><b>Affordable Rates</b></h5>
          <p class="card-text">Repairing a damaged vehicle can be expensive. Using aftermarket products is a good solution if you're on a budget</p>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">WheelWizard</small>
        </div>
      </div>
      <div class="card custom-card">
        <img src="https://svgsilh.com/svg/1192365.svg" width="80px" height="150px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:#4a90e2;"><b>Wide variety</b></h5>
          <p class="card-text">We have something for everyone when it comes to aftermarket products. Just apply the "Aftermarket" filter in the catalogue and check the offers</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">WheelWizard</small>
        </div>
      </div>
    </div>
  </div>