<footer class="bg-light text-dark py-5"  style="border-top: 2px solid #ccc; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
  <div class="container">
    <h1> Wheel Wizards</h1>
    <div class="row">
      <div class="col-md-4">
        <h4>QUICK LINKS</h4>
        <ul class="list-unstyled">
          <li><a routerLink="" class="text-dark">Home</a></li>
          <li><a routerLink="aboutUs" class="text-dark">About Us</a></li>
          <li><a routerLink="contact" class="text-dark">Contact</a></li>
          <!-- Add more links here if needed -->
        </ul>
      </div>
      <div class="col-md-2">
        <h4>REACH US</h4>
        <span>5-9-208/2, Karwan Hyderabad, Telangana 450001 +91 9325997861</span>
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center">
        <h4>Team Solution</h4>
        <div class="d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/nitin-chavan-9ab665255" target="_blank" class="text-dark mr-3">
            <img src="https://www.svgrepo.com/show/922/linkedin.svg" alt="LinkedIn" width="30px" />
          </a>
          <a href="https://www.facebook.com/profile.php?id=100023732749070" target="_blank" class="text-dark mr-3">
            <img src="https://www.svgrepo.com/show/21657/facebook.svg" alt="Facebook" width="30px" />
          </a>
          <a href="https://www.instagram.com/nitinchavan7" target="_blank" class="text-dark mr-3">
            <img src="https://www.svgrepo.com/show/41940/instagram.svg" alt="Instagram" width="30px" />
          </a>
         
        </div>
      </div>
    </div>
  </div>
</footer>