<div class="container">
    <h1 class="text-center"> Search by <span style="color: #4a90e2; "><b>Category</b></span> </h1>
    <div class="row">
        <div class="col-md-6 col-lg-3" (click)="submit(1)">
            <div class="card mb-4 custom-card">
                <img src="https://svgsilh.com/svg/2884303.svg" width="100px" height="100px" style="margin-top: 10px;" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <p class="card-text text-center" style="color: #4a90e2; font-size: 25px;"><b>Maintenance Service parts</b></p>
                </div>
            </div>
        </div>
       
        <div class="col-md-6 col-lg-3"(click)="submit(2)">
            <div class="card mb-4 custom-card">
                <img src="https://svgsilh.com/svg/24162.svg"  width="100px" height="100px" style="margin-top: 10px;" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <p class="card-text text-center" style="color: #4a90e2; font-size: 25px;"><b>Air Conditioning</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3"(click)="submit(3)">
            <div class="card mb-4 custom-card">
                <img src="https://svgsilh.com/svg/162111.svg"  width="100px" height="100px" style="margin-top: 10px;" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <p class="card-text text-center" style="color: #4a90e2; font-size: 25px;"><b>Belts Chains and Rollers</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3"(click)="submit(4)">
            <div class="card mb-4 custom-card">
                <img src="https://svgsilh.com/svg/40408.svg"  width="100px" height="100px" style="margin-top: 10px;" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <p class="card-text text-center" style="color: #4a90e2; font-size: 25px;"><b>Bearings</b></p>
                </div>
            </div>
        </div>
    </div>
</div>