<div class="container" *ngIf="allusers;">
  <div class="flex-container">
    <div class="table-container">
      <table class="table table-bordered table-sm table-hover">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>userName</th>
            <th>country</th>
            <th>address</th>
            <th>emailId</th>
            <th>mobileNo</th>
            <th>delete</th>
            <th>EditUser</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allusers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.emailId }}</td>
            <td>{{ user.mobileNo }}</td>
            <td><i class="fa-solid fa-trash"  (click)="deletUserInfo(user.id)"></i></td>
            <td><i class="fa-solid fa-pen" (click)="UsereditPage(user.id)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noCartItems>
  <div class="container">
    <h1 style="color: red" align="center">No users!!!</h1>
  </div>
</ng-template>
