.container {
    margin: 20px auto;
    max-width: 900px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-container, .summary-container {
    width: 80%;
}

.table {
    width: 50%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #17a2b8;
    color: #fff;
    padding: 12px;
    font-size: 16px;
}

.table td {
    padding: 10px;
    font-size: 14px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table img {
    border-radius: 5px;
}

.summary-table {
    width: 70%;

    margin-bottom: 1rem;
  
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.summary-table td {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.summary-table .total-label {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.summary-table .total-amount {
    color: #28a745;
    font-weight: bold;
    font-size: 22px;
}

.summary-table button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.summary-table button:hover {
    background-color: green ;
}

#noCartItems h1 {
    font-size: 2rem;
    font-weight: bold;
}







/* .container {
    margin: 20px auto;
    max-width: 800px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #f9f9f9;
    border-radius: 10px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.table th {
    background-color: #17a2b8;
    color: #fff;
    padding: 12px;
    font-size: 16px;
}

.table td {
    padding: 10px;
    font-size: 14px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table img {
    border-radius: 5px;
}

h3 {
    margin: 0;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#noCartItems h1 {
    font-size: 2rem;
    font-weight: bold;
} */