<!-- <div class="container" *ngIf="allProducts; else noCartItems">
    <div class="flex-container">
      <div class="table-container">
        <table class="table table-bordered table-sm table-hover">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Category ID</th>
              <th>Image</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>desciption</th>
              <th>delete</th>
              <th>edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of allProducts; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ product.categoryID }}</td>
              <td>
                <img [src]="product.imgsrc" width="50px" height="50px" alt="..." />
              </td>
              <td>{{ product.name }}</td>
              <td>${{ product.cost }}/-</td>
              <td>{{ product.desciption }}</td>
              <td> <i class="fa-solid fa-trash"  (click)="deletProduct(product.id)"></i></td>
              <td><i class="fa-solid fa-pen" (click)="editProduct(product.id)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="summary-container">
        <table class="summary-table">
          <tbody> <button (click)="addProduct()" class="btn btn-primary" >addProduct</button></tbody>
        </table>
      </div>
    </div>
  </div>
  
  <ng-template #noCartItems>
    <div class="container">
      <h1 style="color: red" align="center">no product!!!</h1>
    </div>
  </ng-template>
  
  
  
  
  
    
     -->






     <body>
        <div class="container" *ngIf="allProducts; else noCartItems">
          <div class="flex-container">
            <div class="table-container">
              <table class="table table-bordered table-sm table-hover">
                <thead>
                  <tr>
                    <th>Sr.No</th>
                    <th>Category ID</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Delete</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of allProducts; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.categoryID }}</td>
                    <td>
                      <img [src]="product.imgsrc" class="product-img" alt="Product Image" />
                    </td>
                    <td>{{ product.name }}</td>
                    <td>${{ product.cost }}/-</td>
                    <td>{{ product.desciption }}</td>
                    <td><i class="fa-solid fa-trash" (click)="deletProduct(product.id)"></i></td>
                    <td><i class="fa-solid fa-pen" (click)="editProduct(product.id)"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
        <ng-template #noCartItems>
          <div class="container">
            <h1 class="no-products">No products available!</h1>
          </div>
        </ng-template>
      </body>