body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .table-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f8f8f8;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .fa-trash, .fa-pen {
    cursor: pointer;
    color: #007bff;
  }
  
  .fa-trash:hover, .fa-pen:hover {
    color: #0056b3;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .summary-container {
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }
  
  .no-products {
    color: red;
    text-align: center;
  }
  