
<div class="container" *ngIf="cartItem; else noCartItems">
    <div class="flex-container">
        <div class="table-container">
            <table class="table table-bordered table-sm table-hover">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>quantity</th>
                        <th>delete</th>
                        <th>add quantity</th>
                        <th>decrement quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of cartItem; let i = index">
                        <td>{{i + 1}}</td>
                        <td><img [src]="product.img" width="50px" height="50px" alt="..."/></td>
                        <td>{{product.productName}}</td>
                        <td>${{product.cost}}/-</td>
                        <td>{{product.quantity}}</td>
                        <td><i class="fa-solid fa-trash" (click)="delectItem(i,product.sNo)"></i></td>
                        <td><i class="fa-solid fa-plus" (click)="addQuantity(i)"></i></td>
                        <td><i class="fa-solid fa-minus" (click)="decrement(i,product.sNo)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="summary-container">
            <table class="summary-table">
                <tbody>
                    
                    <tr>
                        <td class="total-label">Total</td>
                        <td class="total-amount">${{total}}/-</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button (click)="purchase()">Purchase</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #noCartItems>
    <div class="container">
        <h1 style="color: red;" align="center">Cart is Empty!!!</h1>
    </div>
</ng-template>













<!-- 


<div class="container" *ngIf="cartProducts; else noCartItems">
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cartProducts; let i = index">
                <td>{{i + 1}}</td>
                <td><img [src]="product.imgsrc" width="50px" height="50px" alt="..."/></td>
                <td>{{product.name}}</td>
                <td>₹{{product.cost}}/-</td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <h3>Total</h3>
                </td>
                <td colspan="2" align="center"><b>₹{{total}}/-</b></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2" align="center">
                    <button (click)="purchase()">Purchase</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noCartItems>
    <div class="container">
        <h1 style="color: red;" align="center">Cart is Empty!!!</h1>
    </div>
</ng-template>







<!-- <div class="container" *ngIf="cartProducts;else noCartItems">
    <table class="table table-bordered table-sm table-hover">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">sr.No</th>
                <th class="bg-info text-white">image</th>
                <th class="bg-info text-white">Product Name</th>
                <th class="bg-info text-white">Price</th>
            </tr>
        </thead>
    
        <tbody>
            <tr align="center" *ngFor="let product of cartProducts">
                <td>{{cartCount}}</td>
                <td><img src={{product.imgsrc}} width="20px" height="30px" alt="..."/></td>
                
                <td>{{product.name}}</td>
                <td>₹{{product.cost}}/-</td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <h3>Total</h3>
                </td>
                <td align="center"><b>₹{{total}}/-</b></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td align="center">
                    <button (click)="purchase()">Purchase</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #noCartItems>
    <div class="container" >
        <h1 style="color: red;" align="center">Cart is Empty!!!</h1>
    </div>
</ng-template> --> -->
