<div style="background-color:#f0faff ;">
  <!-- <app-nav-bar></app-nav-bar> -->
<app-carousel></app-carousel>
<app-cards></app-cards>
<br>
<app-category></app-category>
<br>
<app-brands></app-brands>
<br>
<br>
<app-footer></app-footer>
</div>