body{
    background-image: url('https://wallpapercave.com/wp/wp13340697.jpg'); 
    background-repeat: no-repeat; 
    width:100%;
    height: 100vh;
}

/* https://wallpapercave.com/wp/wp13340697.jpg */
.container {

    width: 400px;
    max-width: 300px; /* Limiting the width to 600px */
    height: auto; /* Adjusting height dynamically based on content */
    min-height: 300px; /* Minimum height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Shadow effect */
    background-image: url('https://wallpapercave.com/wp/wp13340697.jpg'); 
}


.login-form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-addon {
    background-color: #f0f0f0;
    border-radius: 5px 0 0 5px;
}

.form-control {
    border-radius: 0 5px 5px 0;
}

.btn-primary {
    width: 100%;
}

.error-msg {
    font-weight: bold;
    text-align: center;
    color: red;
}
