.container{
  font-family: "Poetsen One", sans-serif;
    font-optical-sizing: 100;
    font-size: larger;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 500,
      "YTLC" 1000;
      padding-bottom: 100px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #007BFF;
}

h3 {
  margin-top: 20px;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.img-fluid {
  border-radius: 8px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #007BFF;
}



.testimonial footer {
  margin-top: 10px;
  color: #555;
}

@media (max-width: 768px) {
  .container {
      padding: 15px;
  }

  .img-fluid {
      margin-top: 20px;
  }
}



/* --------------- */


.testimonial {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ff6f61;
  border-radius: 10px;
  background-color: #ffe5d9;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-size: 1.2em;
  font-style: italic;
  color: #ff6f61;
}

.testimonial footer {
  margin-top: 10px;
  font-weight: bold;
  color: #343a40;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}