 <body>
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-6">
                  <h2>About Wheel Wizards</h2>
                  <p>Wheel Wizards is your one-stop destination for high-quality vehicle spare parts. We specialize in providing parts for a wide range of vehicles, from luxury cars to heavy-duty trucks. Our mission is to ensure that our customers find the perfect spare parts to keep their vehicles running smoothly.</p>
                  <p>At Wheel Wizards, we are committed to excellence in both product quality and customer service. Our team of experts is always ready to assist you in finding the right parts for your vehicle. Whether you're a professional mechanic or a car enthusiast, you can trust Wheel Wizards for all your spare parts needs.</p>
                  
                  <h3>Our Vision</h3>
                  <p>We aim to be the leading supplier of automotive parts globally, known for our reliability and customer-centric approach. Our vision is to innovate and adapt continuously to meet the changing demands of the automotive industry.</p>
                  
                  <h3>Our Values</h3>
                  <ul>
                      <li>Quality: We provide only the highest quality parts to ensure safety and durability.</li>
                      <li>Customer Service: Our customers' satisfaction is our top priority.</li>
                      <li>Integrity: We conduct our business with honesty and transparency.</li>
                      <li>Innovation: We embrace new technologies and ideas to improve our services.</li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <img src="https://c4.wallpaperflare.com/wallpaper/263/477/293/mclaren-p1-4k-full-screen-wallpaper-preview.jpg" class="img-fluid rounded" alt="About Us Image">
              </div>
          </div>
          
          <div class="row mt-5">
              <div class="col-12">
                  <h3>Our History</h3>
                  <p>Founded in 1990, Wheel Wizards started as a small family-owned business specializing in car parts for local customers. Over the years, we have grown into a reputable supplier with a global customer base. Our journey began with a passion for cars and a commitment to providing quality parts that has remained unchanged through the decades.</p>
                  <p>We have expanded our product range to include parts for various vehicle types, and we continually update our inventory to meet the latest industry standards and customer demands. Our dedication to innovation and customer satisfaction has been the cornerstone of our success.</p>
              </div>
          </div>
  
          <div class="row mt-5">
              <div class="col-12">
                  <h3>Meet Our Team</h3>
                  <p>Our team is composed of experienced professionals who are passionate about cars and dedicated to providing exceptional service. From our knowledgeable customer
                    <div class="row">
                      <div class="col-md-4">
                          <div class="card mb-4">
                              <img src="assets/groupMembers/Rana.jpg" class="card-img-top" style="height: 280px;" alt="Team Member">
                              <div class="card-body">
                                  <h5 class="card-title">RANADHEER NAKKA </h5>
                                  <b><p class="card-text">CEO & Founder</p></b>
                                  <p>RANADHEER NAKKA founded Wheel Wizards with a vision to provide quality automotive parts. He has over 30 years of experience in the automotive industry.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card mb-4">
                              <img src="assets/groupMembers/nitin.jpg" class="card-img-top" alt="Team Member">
                              <div class="card-body">
                                  <h5 class="card-title">  NITIN</h5>
                                 <b> <p class="card-text">Chief Operating Officer</p></b>
                                  <p>NITIN oversees the day-to-day operations at Wheel Wizards, ensuring that our services run smoothly and efficiently.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card mb-4">
                              <img src="assets\groupMembers\sandeep.png" style="height: 290px;" class="card-img-top" alt="Team Member">
                              <div class="card-body">
                                  <h5 class="card-title">SANDEEP</h5>
                                 <b><p class="card-text">Head of Customer Service</p></b> 
                                  <p>SANDEEP leads our customer service team, dedicated to providing top-notch support and assistance to our valued customers.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
          <div class="row mt-5">
              <div class="col-12">
                  <h3>Customer Testimonials</h3>
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="d-flex justify-content-center">
                                  <div class="testimonial">
                                      <p>"Wheel Wizards provided the exact parts I needed for my vintage car. The service was outstanding and delivery was quick. Highly recommend!"</p>
                                      <footer>- Alex Brown</footer>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="d-flex justify-content-center">
                                  <div class="testimonial">
                                      <p>"Excellent customer service and high-quality parts. I always turn to Wheel Wizards for all my vehicle maintenance needs."</p>
                                      <footer>- Sarah Wilson</footer>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="d-flex justify-content-center">
                                  <div class="testimonial">
                                      <p>"Great selection and competitive prices. The team at Wheel Wizards is knowledgeable and always ready to help."</p>
                                      <footer>- Michael Lee</footer>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <app-footer></app-footer>