<body>
  <div class="contact">
      <div class="contactContainer">
          <div class="FirstContact">
              <h1>Let's Get In Touch</h1>
              <i>
                  It seems like there might be a typo or some missing information in
                  your request. If you're looking for information on creating a
                  contact page or providing contact information, I'd be happy to help.
                  Could you please provide more details or clarify your question?
              </i>
              <ul>
                  <li><i class="fa-solid fa-envelope"></i><span style="padding-left: 2%;">WheelWizard&#64;gmail.com</span></li>
                  <li><i class="fa-solid fa-phone"></i><span style="padding-left: 2%;">837843732</span></li>
              </ul>
          </div>
          <div class="SecondContact">
              <form>
                  <input type="text" placeholder="Username" />
                  <input type="text" placeholder="Enter email"/>
                  <input type="text" placeholder="Enter phone number"/>
                  <textarea type="text" placeholder="Enter your message"></textarea><br/>
                  <button type="submit">Submit</button>
              </form>
          </div>
      </div>
  </div>
</body>