.navbar {
    background-color:#4a90e2;
}

.navbar-brand {
    color: white; /* Text color */
}

.navbar-nav .nav-link {
    color: white; /* Text color */
    transition: all 0.3s ease; /* Smooth transition effect */
}

.navbar-nav .nav-link:hover {
    color: black; /* Text color on hover */
}

.navbar-nav .nav-link.active {
    font-weight: bold; /* Bold font for active link */
}

.navbar-toggler-icon {
    background-color: white; /* Color of the toggler icon */
}

.navbar-toggler {
    border: none; /* Remove border */
}

.navbar-toggler:focus {
    outline: none; /* Remove focus outline */
}
