<div id="carouselExampleCaptions" class="carousel slide custom-carousel w-100" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner custom-carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/free-photo/different-car-accessories-arrangement_23-2149030414.jpg?w=996&t=st=1715871631~exp=1715872231~hmac=8064c0af3554388571f52ca1bbf6747723627b060a45dc9311f726af52b4b29c"
                class="d-block w-100 custom-img-height" height="50vh"  alt="...">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://as1.ftcdn.net/v2/jpg/04/96/69/32/1000_F_496693261_6IfCZpkae0WP27UuXzfa4xcqGoH2VE31.jpg"
                class="d-block w-100 custom-img-height" alt="...">
            <div class="carousel-caption d-none d-md-block">
               
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/different-car-accessories-arrangement_23-2149030408.jpg?w=996&t=st=1715871718~exp=1715872318~hmac=44813190f8145872717e365b1c5d450b0d184998bdfaef2cd6bf598ac61206b4"
                class="d-block w-100 custom-img-height" alt="...">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>