<h1 class="text-center">Brands we <span style="color:#4a90e2 ;"><b>Trust</b></span> 
</h1>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="box">
                <img src="https://boodmo.com/media/images/brand/1586c06.webp" class="img-fluid" alt="Image 1">
            </div>
        </div>
        <div class="col-md-2">
            <div class="box">
                <img src="https://boodmo.com/media/images/brand/551a859.webp" class="img-fluid" alt="Image 2">
            </div>
        </div>
        <div class="col-md-2">
            <div class="box">
                <img src="https://boodmo.com/media/images/brand/e5b18f5.webp" class="img-fluid" alt="Image 3">
            </div>
        </div>
        <div class="col-md-2">
            <div class="box">
                <img src="https://boodmo.com/media/images/brand/10a8568.webp" class="img-fluid" alt="Image 4">
            </div>
        </div>
        <div class="col-md-2">
            <div class="box">
                <img src="https://boodmo.com/media/images/brand/3408b8a.webp" class="img-fluid" alt="Image 5">
            </div>
        </div>
        <div class="col-md-2">
            <div class="box">
                <img src="https://boodmo.com/media/images/brand/4f106b0.webp" class="img-fluid" alt="Image 6">
            </div>
        </div>


    </div>
</div>