

<div >
<div class="container-fluid"  >
    <div class="row g-3">
        <div class="col-md-3 col-sm-6" *ngFor="let product of products"   data-aos="flip-right">
            <div class="card h-100" >
                <img class="card-img-top" [src]="product.imgsrc" alt="Card image">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title"><b>{{product.name}}</b></h4>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text mt-auto"><b>Price: ₹{{product.cost}}/- </b></p>
                    <div class="text-end">
                        <p (click)="addToCart( product)"><button  class="btn btn-primary stretched-link">To Cart</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





<!-- <div class="container-fluid">
    <div class="row g-3">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card h-100">
                <img class="card-img-top" [src]="product.imgsrc" alt="Card image">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title"><b>{{product.name}}</b></h4>
                    <p class="card-text">{{product.desciption}}</p>
                    <p class="card-text mt-auto"><b>Price: ₹{{product.cost}}/- </b></p>
                    <div class="text-end">
                        <button (click)="addToCart(product)" class="btn btn-primary stretched-link">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
