
<body>
  <div class="container">
    <h1>Edit Product</h1>
    <form id="productForm" #Product="ngForm" (ngSubmit)="updateProduct(Product.value)" novalidate>
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text"  name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="imgsrc">Image Source</label>
        <input type="text" id="imgsrc" name="imgsrc" ngModel required>
      </div>
      <div class="form-group">
        <label for="categoryID">Category ID</label>
        <input type="text" id="categoryID" name="categoryID" ngModel required>
      </div>
      <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" id="cost" name="cost" ngModel  required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" ngModel required></textarea>
      </div>
      <button >Save</button>
    </form>
  </div>
</body>

