body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007BFF;
}

.user-name {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #333;
}

.user-bio {
    font-size: 14px;
    color: #777;
}

.profile-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.profile-details strong {
    color: #333;
}
