<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="assets/user.jpg" alt="Profile Picture" class="profile-picture">
            <h1 class="user-name">{{user.userName}}</h1>
            <p class="user-bio">Web Developer. Tech Enthusiast. Avid Reader.</p>
        </div>
        <div class="profile-details">
            <p><strong>Email:</strong> {{user.emailId}}</p>
            <p><strong>Location:</strong> {{user.country}} , {{user.address}}</p>
            <p><strong>Joined:</strong> January 2021</p>
        </div>
    </div>
</body>