<div class="container" *ngIf="oders; else noCartItems">
  <div class="flex-container">
    <div class="table-container">
      <table class="table table-bordered table-sm table-hover">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>Image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of oders; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <img [src]="product.img" width="50px" height="50px" alt="..." />
            </td>
            <td>{{ product.productName }}</td>
            <td>${{ product.cost }}/-</td>
            <td>{{ product.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="summary-container">
      <table class="summary-table">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noCartItems>
  <div class="container">
    <h1 style="color: red" align="center">no odders!!!</h1>
  </div>
</ng-template>





  
  