.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 800px; 
    background-color: #fff; /* Set background color */
  box-shadow: 0 0 10px rgba(20, 28, 31, 0.1);
  }
  
  .table {
    background-color: #fff; /* Set background color */
  box-shadow: 0 0 10px rgba(20, 28, 31, 0.6);
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddd;
  }
  
  .table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
  }
  